{% extends 'base.html' %}

{% block body %}
    <h1>Список продуктов</h1>
    {% for game in games %}
    <p>
        <a href="{% url 'game-details' game.id %}">{{ game.name }}</a><br>
        {{ game.price }}
    </p>
    {% endfor %}
    <p>
        {% if page_obj.has_previous %}
         <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        {{ page_obj.number }}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </p>

<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
      {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
  </ul>
</nav>
{% endif %}
{% endblock body %}