{% extends 'base.html' %}
{% load static %}
{% block body %}

	<!-- Games -->

	<div class="products">
		<div class="container">
			<div class="row">
				<div class="col">
					
					<div class="product_grid">
					{% for game in games %}
						<!-- Product -->
						<div class="product">
							<div class="product_image"><img src="{{ game.images.first.image.url }}" alt=""></div>
							<div class="product_extra product_new"><a href="categories.html">New</a></div>
							<div class="product_content">
								<div class="product_title"><a href="{% url 'game-details' game.id %}">{{ game.name }}</a></div>
								<div class="product_price">{{ game.price }}</div>
							</div>
						</div>
						{% endfor %}


					</div>
						
				</div>
			</div>
		</div>
	</div>



{% endblock body %}