{% extends 'base.html' %}
{% load static %}
{% block body %}
<div>
    <div class="games-main">
        {% for game in games %}
        <div class="game-card" style="width: 250px;">
            <a href="{% url 'game-details' game.id %}">
                {% if game.images.count %}
                {% for pic in game.images.all %}
                {% if pic.image %}
                <img style="width: 150px; height: 200px;" src="{{ game.images.first.image.url }}" class="img-fluid rounded-start" alt="Games image">
                {% else %}
                <img style="width: 150px; height: 150px;" src="{% static 'img/gamepad.png' %}">
                {% endif %}
                {% endfor %}
                {% else %}
                <img style="width: 150px; height: 150px;" src="{% static 'img/gamepad.png' %}">
                {% endif %}
            </a>
            <h5>{{ game.name }}</h5>
            <h4 class="game-price">{{ game.price }}</h4>
            <a href="{% url 'game-details' game.id %}">
            <button class="details-btn">Details</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock body %}